:root{
    --imageHeight: 50px;
    --containerWidth: 90%;
    --contentOffsetLeft: 5%;
    --borderPixel: 2px
}

/* Header */
.divHeader{
    float: left;
    display: inline;
    width: 100%;
    text-align: center;
    border-bottom: solid black 1px;
}

.imageHeaderLogo{
    display: inline-block;
    vertical-align: middle;
    height: var(--imageHeight);
    width: auto;
    margin: 5px;

}

.pHeaderText{
    display: inline-block;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}


/* Main Content */
.table
{
    width: var(--containerWidth);
    margin-left: var(--contentOffsetLeft);
    border-collapse: collapse;
}

.personTable
{
    border-collapse:separate;
    border-spacing:0 15px;
}

.tableDiv
{
    background-color: rgb(221, 221, 221);
    text-align: center;
    font-weight: bold;
    border-top: solid black var(--borderPixel);
    border-bottom: solid black var(--borderPixel);
}

.tableRow .tableDiv:first-child
{
    border-left: solid black var(--borderPixel);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.tableRow .tableDiv:last-child
{
    border-right: solid black var(--borderPixel);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.tdButton
{
    width: 0px;
    padding: 10px;
}

.editTable .divForm
{
    margin-top: 10px;
}

.editTable .labelItem
{
    display: inline-block;
    width: 150px;
}

.divForm .inputItem
{
    margin-left: 10px;
    text-align: center;
}

.editTable .imgProfile
{
    border: solid black 1px;
    vertical-align: bottom;
}

.editTable .pHeader
{
    font-weight: bold;
}


/* Footer */
.divFooter
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(209, 206, 206);
    color: rgb(0, 0, 0);
    border-top: solid rgb(0, 0, 0) 2px;
    height: 10%;

    /* Align text central right */
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.footerButton
{
    padding: 15px 32px;
    margin-right: 20px;
}


/* General */
.button
{
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    color: rgb(48, 48, 48);
    border: solid black 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}