<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Main Page</title>
</head>
<body>
    <div class="divPage">
        <div id="dovLogo" class="divHeader">
            <image src="../images/adLogo.png" alt="The Logo of AD-international" class="imageHeaderLogo"></image>
            <p class="pHeaderText">Personenverwaltung by AD - Hauptseite</p>
        </div>
        <div class="divHeaderTable">
            <div class="divHeaderNumber">Nr.</div>
            <div class="divHeaderContext">Vorname</div>
        </div>
        <div class="divTableRow tableRow1">
            <div class="divNumber"></div>
            <div class="divContext"></div>
        </div>
    </div>
</body>
</html>