<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Main Page</title>
</head>
<body>
    <div class="divPage">
        <div class="divHeader">
            <image src="../images/adLogo.png" alt="The Logo of AD-international" class="imageHeaderLogo"></image>
            <p class="pHeaderText">Personenverwaltung by AD - Hauptseite</p>
        </div>
        <div class="divMainContent">
            <table class="table personTable">
                <tr class="tableHead">
                    <th>Nr.</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Tätigkeit</th>
                    <th>Standort</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="tableRow">
                    <td class="tableDiv">001</td>
                    <td class="tableDiv">Heinrich</td>
                    <td class="tableDiv">Grauer</td>
                    <td class="tableDiv">Leiter</td>
                    <td class="tableDiv">Luzern</td>
                    <td class="tdButton tableDiv"><button class="button">Anzeigen</button></td>
                    <td class="tdButton tableDiv"><a href="personEdit.htm" class="aFooterButton"><button class="button">Bearbeiten</button></a></td>
                </tr>
                <tr class="tableRow">
                    <td class="tableDiv">002</td>
                    <td class="tableDiv">Axel</td>
                    <td class="tableDiv">Schweiss</td>
                    <td class="tableDiv">Arbeiter</td>
                    <td class="tableDiv">Stans</td>
                    <td class="tdButton tableDiv"><button class="button">Anzeigen</button></td>
                    <td class="tdButton tableDiv"><a href="personEdit.htm" class="aFooterButton"><button class="button">Bearbeiten</button></a></td>
                </tr>
                <tr class="tableRow">
                    <td class="tableDiv">003</td>
                    <td class="tableDiv">Max</td>
                    <td class="tableDiv">Witzer</td>
                    <td class="tableDiv">Vorarbeiter</td>
                    <td class="tableDiv">Engelberg</td>
                    <td class="tdButton tableDiv"><button class="button">Anzeigen</button></td>
                    <td class="tdButton tableDiv"><a href="personEdit.htm" class="aFooterButton"><button class="button">Bearbeiten</button></a></td>
                </tr>
                <tr class="tableRow">
                    <td class="tableDiv">004</td>
                    <td class="tableDiv">Reiner</td>
                    <td class="tableDiv">Horst</td>
                    <td class="tableDiv">Aufseher</td>
                    <td class="tableDiv">Zürich</td>
                    <td class="tdButton tableDiv"><button class="button">Anzeigen</button></td>
                    <td class="tdButton tableDiv"><a href="personEdit.htm" class="aFooterButton"><button class="button">Bearbeiten</button></a></td>
                </tr>
            </table>
        </div>
        <div class="divFooter">
            <button class="button footerButton">Hinzufügen!</button>
        </div>
    </div>
</body>
</html>