<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Main Page</title>
</head>
<body>
    <div class="divPage">
        <div class="divHeader">
            <image src="../images/adLogo.png" alt="The Logo of AD-international" class="imageHeaderLogo"></image>
            <p class="pHeaderText">Personenverwaltung by AD - Hauptseite</p>
        </div>
        <div class="divMainContent">
            <table class="table personTable">
                <tr class="tableHead">
                    <th>Nr.</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Tätigkeit</th>
                    <th>Standort</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="tableRow">
                    <td>Nr.</td>
                    <td>Vorname</td>
                    <td>Nachname</td>
                    <td>Tätigkeit</td>
                    <td>Standort</td>
                    <td><button class="button">Anzeigen</button></td>
                    <td><button class="button">Bearbeiten</button></td>
                </tr>
                <tr class="tableRow">
                    <td>Nr.</td>
                    <td>Vorname</td>
                    <td>Nachname</td>
                    <td>Tätigkeit</td>
                    <td>Standort</td>
                    <td><button class="button">Anzeigen</button></td>
                    <td><button class="button">Bearbeiten</button></td>
                </tr>
                <tr class="tableRow">
                    <td>Nr.</td>
                    <td>Vorname</td>
                    <td>Nachname</td>
                    <td>Tätigkeit</td>
                    <td>Standort</td>
                    <td><button class="button">Anzeigen</button></td>
                    <td><button class="button">Bearbeiten</button></td>
                </tr>
                <tr class="tableRow">
                    <td>Nr.</td>
                    <td>Vorname</td>
                    <td>Nachname</td>
                    <td>Tätigkeit</td>
                    <td>Standort</td>
                    <td><button class="button">Anzeigen</button></td>
                    <td><button class="button">Bearbeiten</button></td>
                </tr>
            </table>
        </div>
        <div class="divFooter">
            <a href="personEdit.htm" class="aFooterButton"><button class="button footerButton">Hinzufügen!</button>   </a>
        </div>
    </div>
</body>
</html>